<div class="bottom-bar">
    <div class="bottom-buttons-container">
        <button class="btn bottom-btn rooms-btn">
            <i class="fas fa-home"></i>
            <span>الغرف</span>
        </button>
        <button class="btn bottom-btn news-btn">
            <i class="fas fa-newspaper"></i>
            <span>الأخبار</span>
        </button>
        <button class="btn bottom-btn diary-btn">
            <i class="fas fa-book-open"></i>
            <span>اليوميات</span>
        </button>
        <button class="btn bottom-btn private-btn">
            <i class="fas fa-lock"></i>
            <span>الخاص</span>
        </button>
    </div>
</div>
