<div class="chat-input-wrapper">
    <div id="normal-chat-input" class="input-bar">
        <button class="btn icon-btn send-btn"><i class="fas fa-paper-plane"></i></button>
        <div class="input-field-container">
            <input type="text" id="message-input" placeholder="اكتب هنا..." />
            <input type="file" id="image-upload-input" style="display: none;" />
        </div>
        <button class="btn icon-btn emoji-btn-circle"><i class="far fa-grin-alt"></i></button>
        <div class="plus-button-container">
            <button class="btn icon-btn plus-btn-circle" id="plus-btn-toggle">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div id="muted-message-container" class="muted-message-container">
        <span>الدردشة مقفلة</span>
    </div>
</div>
