<div class="top-bar">
  <div class="top-buttons">
    <div class="profile" id="profileButton">
      <img id="user-profile-image" alt="user" style="display:none;">
    </div>
    <div class="btn notify head_option4" id="notifications-btn">
        <i class="fas fa-bell"></i>
        <span id="notifications-badge" class="badge"></span>
        <br>إشعار
    </div>
    <div class="btn online head_option3" id="online-users-btn">
        <i class="fas fa-users"></i><br>متصلين
    </div>
    <div class="btn private head_option1" id="privateButton">
        <i class="fas fa-envelope"></i><br>خاص
    </div>
    <div class="btn friend head_option5">
        <i class="fas fa-user-plus"></i><br>صداقة
    </div>
    <div class="btn refresh head_option8">
        <i class="fas fa-sync-alt"></i><br>تحديث
    </div>
    <div class="btn menu head_option6">
        <i class="fas fa-bars"></i><br>قائمة
    </div>
  </div>
</div>
